<div class="d-flex flex-column">
  <main class="main-content flex-grow-1 d-flex justify-content-center">
    <div class="content-container">
      <h1 class="page-title mb-4">
        {{ isEditMode ? "Edit" : "Add" }} Attendance Record
      </h1>
      <form [formGroup]="attendanceForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <label class="form-label" for="employeeSelect">Employee Name</label>
          <select
            class="form-select"
            id="employeeSelect"
            formControlName="employeeId"
          >
            <option value="" disabled selected>Select Employee</option>
            <option *ngFor="let employee of employees" [value]="employee.id">
              {{ employee.name }}
            </option>
          </select>
        </div>
        <div class="mb-4">
          <label class="form-label" for="departmentSelect">Department</label>
          <select
            class="form-select"
            id="departmentSelect"
            formControlName="departmentId"
          >
            <option value="" disabled selected>Select Department</option>
            <option
              *ngFor="let department of departments"
              [value]="department.id"
            >
              {{ department.name }}
            </option>
          </select>
        </div>

        <div class="mb-4 position-relative">
          <label class="form-label">Date</label>
          <input
            type="text"
            class="form-control pe-5"
            placeholder="Select date"
            title="Select date"
            formControlName="date"
            bsDatepicker
            [bsConfig]="{
              dateInputFormat: 'YYYY-MM-DD',
              containerClass: 'theme-dark-blue'
            }"
          />
          <i
            class="bi bi-calendar-date position-absolute"
            style="right: 25px; top: 48px; pointer-events: none; color: #6c757d"
          ></i>
        </div>

        <div class="mb-4">
          <label class="form-label">Check-in Time</label>
          <timepicker
            id="checkInTime"
            class="time"
            placeholder="Select check-in time"
            title="Select check-in time"
            [formControlName]="'checkInTime'"
            [showMeridian]="true"
            [hourStep]="1"
            [minuteStep]="5"
            [arrowkeys]="true"
          ></timepicker>
          <div
            *ngIf="
              attendanceForm.get('checkInTime')?.invalid &&
              (attendanceForm.get('checkInTime')?.dirty ||
                attendanceForm.get('checkInTime')?.touched)
            "
            class="text-danger mt-1"
          >
            Please select a valid check-in time.
          </div>
        </div>

        <div class="mb-4">
          <label class="form-label">Check-out Time</label>
          <timepicker
            id="checkOutTime"
            class="time"
            placeholder="Select check-out time"
            title="Select check-out time"
            [formControlName]="'checkOutTime'"
            [showMeridian]="true"
            [hourStep]="1"
            [minuteStep]="5"
            [arrowkeys]="true"
          ></timepicker>
          <div
            *ngIf="
              attendanceForm.get('checkOutTime')?.invalid &&
              (attendanceForm.get('checkOutTime')?.dirty ||
                attendanceForm.get('checkOutTime')?.touched)
            "
            class="text-danger mt-1"
          >
            Please select a valid check-in time.
          </div>
        </div>

        <div
          class="d-flex flex-column flex-sm-row justify-content-end gap-3 mt-4"
        >
          <a
            style="line-height: 40px"
            [routerLink]="['/dashboard/Attendance']"
            class="btn btn-cancel flex-fill flex-sm-unset text-center"
          >
            <i class="bi bi-x-circle me-2"></i>
            <span>Cancel</span>
          </a>
          <button
            type="submit"
            class="btn btn-save flex-fill flex-sm-unset text-center"
          >
            <i class="bi bi-save me-2"></i>
            <span>{{ isEditMode ? "Update" : "Save" }}</span>
          </button>
        </div>
      </form>
    </div>
  </main>
</div>
