<div *ngIf="authService.hasPermission('OfficialHoliday-Edit')" class="modal-overlay" (click)="close()">
      <!-- Main Content -->
      <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="mb-4">
      <h1 class="fs-2 fw-bold mb-0">Edit Official Holiday</h1>
    </div>

    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="holidayName" class="form-label">Holiday Name</label>
        <input
          type="text"
          class="form-control form-control-lg"
          id="holidayName"
          placeholder="e.g. Independence Day"
          [(ngModel)]="holiday.name"
          name="holidayName"
          required
        />
      </div>
      <div class="mb-4">
        <label class="form-label">Date</label>
        <input
          type="text"
          class="form-control form-control-lg"
          [(ngModel)]="holiday.date"
          name="holidayDate"
          placeholder="Select date"
          [bsConfig]="{
                dateInputFormat: 'YYYY-MM-DD',
                containerClass: 'theme-dark-blue',
                returnFocusToInput: true,
              }"
          bsDatepicker
          autocomplete="off"
          required
        />
      </div>
      <div class="d-flex justify-content-end gap-2 flex-wrap">
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="close()"
        >
          Cancel
        </button>
        <button type="submit" class="btn btn-primary fw-bold px-4">Save</button>
      </div>
    </form>
  </div>
</div>
