<div class="d-flex flex-column" *ngIf="authService.hasPermission('Users-View')">
  <main class="main-content flex-grow-1 d-flex justify-content-center">
    <div class="content-container">
      <div class="d-flex flex-wrap justify-content-between gap-3 p-3">
        <h1 class="fw-bold">User Management</h1>
      </div>

      <div class="p-3">
        <div class="col-md-6">
          <div class="input-group">
            <span class="input-group-text search-icon">
              <i class="bi bi-search"></i>
            </span>
            <input
              type="text"
              class="form-control search-box"
              placeholder="Search by employee name"
              [(ngModel)]="searchTerm"
            />
          </div>
        </div>
      </div>

      <div class="d-flex flex-wrap justify-content-end gap-3 p-3 pt-0">
        <a 
          *ngIf="authService.hasPermission('Users-Add')" 
          [routerLink]="['/dashboard/Users/add-user']" 
          class="btn btn-primary fw-bold">
          + Add User
        </a>
      </div>


      <!-- Table -->
      <div class="table-responsive tablecontainer p-0 mb-4">
        <table class="table table-borderless m-0 align-middle">
          <thead class="d-md-table-header-group text-center">
            <tr>
              <th>Full Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Role Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let user of paginatedUsers">
              <td>{{ user.fullName }}</td>
              <td>{{ user.userName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.roles?.[0] }}</td> 
              <td data-label="Actions" class="actions-col">
                <div>
                  <i
                    *ngIf="authService.hasPermission('Users-Edit')"
                    style="cursor: pointer"
                    class="bi bi-pencil-square fs-3 text-primary p-0"
                    title="Edit"
                    (click)="editUser(user)"
                  ></i>

                  <span *ngIf="authService.hasPermission('Users-Edit') && authService.hasPermission('Users-Delete')">|</span>

                  <i
                    *ngIf="authService.hasPermission('Users-Delete')"
                    style="cursor: pointer"
                    class="bi bi-trash fs-3 text-danger p-0"
                    title="Delete"
                    (click)="deleteUser(user)"
                  ></i>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>

      <!-- Pagination -->

      <div class="d-flex justify-content-center mt-4 flex-wrap gap-2">
        <button
          class="pagination-btn"
          [disabled]="currentPage === 1"
          (click)="goToPage(currentPage - 1)"
        >
          ‹
        </button>

        <button
          *ngFor="let page of totalPages"
          (click)="goToPage(page)"
          [ngClass]="{ 'active-page': currentPage === page }"
          class="pagination-btn"
        >
          {{ page }}
        </button>

        <button
          class="pagination-btn"
          [disabled]="currentPage === totalPages.length"
          (click)="goToPage(currentPage + 1)"
        >
          ›
        </button>
      </div>

      <!-- Add User Button -->
    </div>
  </main>
</div>