<div *ngIf="authService.hasPermission('Roles-Add') || authService.hasPermission('Roles-Edit')" class="main-container">
  <!-- Page Header -->
  <div class="page-header">
    <h1 class="page-title">Role Management</h1>
    <p class="text-muted mb-0">Manage user roles and permissions</p>
  </div>

  <!-- Form Container -->
  <div class="form-container">
    <!-- Form Header -->
    <div class="form-header">
      <h4 class="text-center" id="formTitle">{{ isEditing ? "Edit Role" : "Add New Role" }}</h4>

    </div>

    <!-- Form Body -->
    <div class="form-body">
      <!-- Role Name Input -->
      <div class="mb-4">
        <label for="roleName" class="form-label">Role Name</label>
        <input
          type="text"
          id="roleName"
          class="form-control"
          [(ngModel)]="roleName"
          placeholder="Enter role name"
        />
      </div>

      <!-- Permissions Table -->
      <div class="table-responsive">
        <table class="table text-center align-middle table-wrapper">
          <thead class="table-light ">
            <tr>
              <th class="text-start">Module Name</th>
              <th>View</th>
              <th>Edit</th>
              <th>Delete</th>
              <th>Add</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let page of getModules()">
              <td class="text-start">{{ page }}</td>
              <td>
                <input
                  type="checkbox"
                  [checked]="isPermissionSelected(page, 'View')"
                  (change)="togglePermission(page, 'View', $event)"
                />
              </td>
              <td>
                <input
                  type="checkbox"
                  [checked]="isPermissionSelected(page, 'Edit')"
                  (change)="togglePermission(page, 'Edit', $event)"
                />
              </td>
              <td>
                <input
                  type="checkbox"
                  [checked]="isPermissionSelected(page, 'Delete')"
                  (change)="togglePermission(page, 'Delete', $event)"
                />
              </td>
              <td>
                <input
                  type="checkbox"
                  [checked]="isPermissionSelected(page, 'Add')"
                  (change)="togglePermission(page, 'Add', $event)"
                />
              </td>

            </tr>
          </tbody>
        </table>
      </div>

      <!-- Save Button -->
      <div class="text-end mt-4">
       
               
        <button
            class="btn save-btn"
            (click)="saveRole()"
            [disabled]="
              (isEditing && !authService.hasPermission('Roles-Edit')) ||
              (!isEditing && !authService.hasPermission('Roles-Add'))
            "
          >
            <i class="bi bi-save me-2"></i>{{ isEditing ? 'Update' : 'Save' }}
        </button>
      </div>
    </div>
  </div>
</div>
