<div class="d-flex flex-column">
  <main
    style="min-height: 90vh"
    class="main-content flex-grow-1 d-flex justify-content-center"
  >
    <div class="content-container">
      <div class="d-flex flex-wrap justify-content-between gap-3 p-3">
        <h1 class="fw-bold">Employee Details</h1>
      </div>

      <div class="p-3">
        <div class="col-md-6">
          <div class="input-group">
            <span class="input-group-text search-icon">
              <i class="bi bi-search"></i>
            </span>
            <input
              type="text"
              class="form-control search-box"
              placeholder="Search by employee name"
              [(ngModel)]="searchTerm"
            />
          </div>
        </div>
      </div>

      <div class="d-flex flex-wrap justify-content-end gap-3 p-3 pt-0">
        <a (click)="goToAddPage()" class="btn btn-primary fw-bold">
          + Add Employee
        </a>
      </div>

      <!-- isLoading -->
      <div
        *ngIf="isLoading"
        class="loading-overlay d-flex flex-column align-items-center justify-content-center p-5"
      >
        <div
          class="spinner-border text-primary mb-3"
          style="width: 3rem; height: 3rem"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="fw-semibold text-primary fs-5">
          Loading employee records...
        </div>
      </div>

      <!-- Table data -->
      <div
        *ngIf="!isLoading && !isEmpty && hasResults"
        class="table-responsive tablecontainer pb-2 mb-4"
        #tablecontainer
      >
        <table class="table table-borderless m-0 align-middle">
          <thead class="d-md-table-header-group">
            <tr style="text-align: center">
              <th style="min-width: 140px">Name</th>
              <th>Department</th>
              <th style="min-width: 131px">Base Salary</th>
              <th>Phone</th>
              <th>Gender</th>
              <th style="min-width: 122px">Contract</th>
              <th style="min-width: 122px">Start Time</th>
              <th style="min-width: 122px">End Time</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody style="text-align: center">
            <tr
              *ngFor="
                let emp of pagedEmployees;
                let i = index;
                trackBy: trackById
              "
            >
              <td data-label="Employee Name">{{ emp.fullName }}</td>
              <td data-label="Department">{{ emp.department }}</td>
              <td data-label="Salary">
                {{ emp.baseSalary | currency : "EGP" }}
              </td>
              <td style="min-width: 106px" data-label="Phone">
                {{ emp.phone }}
              </td>
              <td data-label="Gender">{{ emp.gender }}</td>
              <td data-label="ContractDate">
                {{ emp.contractDate | date : "mediumDate" }}
              </td>
              <td data-label="StartTime">{{ emp.startTime }}</td>
              <td data-label="EndTime">{{ emp.endTime }}</td>
              <td data-label="Actions">
                <div>
                  <i
                    style="cursor: pointer"
                    class="bi bi-eye fs-5 text-success me-2"
                    title="View Details"
                    (click)="viewEmployeeDetails(emp.id)"
                  ></i>
                  <i
                    style="cursor: pointer"
                    class="bi bi-pencil-square fs-5 text-primary me-2"
                    title="Edit"
                    (click)="editEmployee(emp.id)"
                  ></i>
                  <i
                    style="cursor: pointer"
                    class="bi bi-trash fs-5 text-danger"
                    title="Delete"
                    (click)="deleteEmployee(emp.id)"
                  ></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- No matching results -->
      <div
        *ngIf="!isLoading && !isEmpty && !hasResults"
        class="empty-table-message text-center p-5 mb-3"
      >
        <i class="bi bi-people-fill fs-1 text-muted"></i>
        <h4 class="mt-3">No matching records found.</h4>
        <p class="text-muted">
          There are currently no records matching your search.
        </p>
      </div>

      <!-- No records at all -->
      <div
        *ngIf="!isLoading && isEmpty"
        class="empty-table-message text-center p-5 mb-3"
      >
        <i class="bi bi-people-fill fs-1 text-muted"></i>
        <h4 class="mt-3">No Record Found</h4>
        <p class="text-muted">There are currently no records to display.</p>
      </div>

      <!-- Pagination -->
      <div class="d-flex justify-content-center mt-4 flex-wrap gap-2">
        <button
          class="pagination-btn"
          [disabled]="currentPage === 1"
          (click)="goToPage(currentPage - 1)"
        >
          ‹
        </button>

        <button
          *ngFor="let page of totalPages"
          (click)="goToPage(page)"
          [ngClass]="{ 'active-page': currentPage === page }"
          class="pagination-btn"
        >
          {{ page }}
        </button>

        <button
          class="pagination-btn"
          [disabled]="currentPage === totalPages.length"
          (click)="goToPage(currentPage + 1)"
        >
          ›
        </button>
      </div>
    </div>
  </main>
</div>
