<div class="sidebar">
  <h4 class="sidebar-title">
    <i class="fa fa-bars"></i>
</h4>
  <ul class="nav-links">
    <li>
      <i class="bi bi-speedometer2"></i>
      <a routerLink="/dashboard">Dashboard</a>
    </li>
    <li>
      <i class="bi bi-shield-lock"></i>
      <a routerLink="/roles">Roles</a>
    </li>
    <li>
      <i class="bi bi-people"></i>
      <a routerLink="/users">Users</a>
    </li>
    <li>
      <i class="bi bi-person-badge"></i>
      <a routerLink="/employees">Employees</a>
    </li>
    <li>
      <i class="bi bi-gear"></i>
      <a routerLink="/settings">Settings</a>
    </li>
  </ul>
</div>
