<div
  class="sidenav"
  [ngClass]="isLeftSidebarCollapsed() ? 'sidenav-collapsed' : ''"
>
  <div class="logo-container">
    <button
      class="logo"
      (click)="toggleCollapse()"
      aria-label="Toggle sidebar"
      style="background: none; border: none; padding: 0; cursor: pointer"
    >
      <img
        class="logo-img"
        width="40"
        height="40"
        src="logo.jpg"
        alt="Pioneers Logo"
      />
    </button>
    @if (!isLeftSidebarCollapsed()) {
    <div class="logo-text" @fadeInOut>Pioneers</div>
    <button
      style="position: relative"
      @rotate
      class="btn-close"
      (click)="closeSidenav()"
    >
      <span><i class="bi bi-x close"></i></span>
    </button>
    }
  </div>
  <div class="sidenav-nav">
    <li class="sidenav-nav-item">
      <a
        class="sidenav-nav-link"
        routerLink="/dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="sidenav-link-icon bi bi-speedometer2"></i>
        @if (!isLeftSidebarCollapsed()) {
        <span @fadeInOut class="sidenav-link-text">Home</span>
        }
      </a>
    </li>
    @for (item of items; track $index) {
      @if(hasPermission(item.permission)) {
    <li class="sidenav-nav-item">
      <a
        class="sidenav-nav-link"
        [routerLink]="item.routeLink"
        routerLinkActive="active"
      >
        <i class="sidenav-link-icon" [class]="item.icon"></i>
        @if (!isLeftSidebarCollapsed()) {
        <span @fadeInOut class="sidenav-link-text">{{ item.label }}</span>
        }
      </a>
    </li>
    }}
    <li
      class="sidenav-nav-item logout-item"
      style="margin-top: auto; display: flex"
    >
      <a
        class="sidenav-nav-link"
        (click)="onLogout()"
        tabindex="0"
        aria-label="Logout"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        style="flex: 1"
      >
        <i class="sidenav-link-icon bi bi-box-arrow-left"></i>
        @if (!isLeftSidebarCollapsed()) {
        <span @fadeInOut class="sidenav-link-text">Logout</span>
        }
      </a>
    </li>
  </div>
</div>
