<!-- user-management.component.html -->
<div class="user-management-container py-5 px-4">
  <h3 class="title mb-4">User Management</h3>

  <div class="table-controls">
    <div class="search-container">
      <i class="bi bi-search"></i>
      <input
        type="text"
        class="form-control search-input"
        placeholder="Search user..."
        [(ngModel)]="searchTerm"
      />
    </div>   

    <button 
      routerLink="/dashboard/add-user"
      class="btn add-btn rounded-pill px-4 py-2"
    >
      <i class="bi bi-plus-circle me-2"></i>Add User

    </button>
  </div>

  <!-- Table -->
<div class="table-center">
 <div class="table-wrapper">
  <table class="table align-middle text-center">
    <thead class="table-light">
      <tr>
        <th>Full Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of paginatedUsers">
        <td>{{ user.fullName }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <!-- <a href="#" class="text-primary me-2" (click)="editUser(user)">Edit</a>
          <a href="#" class="text-danger" (click)="deleteUser(user)">Delete</a> -->
          <button
                class="btn btn-sm icon-btn edit-btn me-1"
                (click)="editUser(user)"
              >
                <i class="bi bi-pencil"></i>
              </button>
              <button
                class="btn btn-sm icon-btn delete-btn"
                (click)="deleteUser(user)"
              >
                <i class="bi bi-trash"></i>
              </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

  <!-- Pagination -->

   <div class="d-flex justify-content-center mt-4 flex-wrap gap-2">
      <button
        class="pagination-btn"
        [disabled]="currentPage === 1"
        (click)="goToPage(currentPage - 1)"
      >
        ‹
      </button>

      <button
        *ngFor="let page of totalPages"
        (click)="goToPage(page)"
        [ngClass]="{ 'active-page': currentPage === page }"
        class="pagination-btn"
      >
        {{ page }}
      </button>

      <button
        class="pagination-btn"
        [disabled]="currentPage === totalPages.length"
        (click)="goToPage(currentPage + 1)"
      >
        ›
      </button>
    </div>

  <!-- Add User Button -->

</div>
